.navegacion {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding-bottom: 3rem;
  a {
    font-size: 1rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    &.activo {
      color: #ffce00;
    }
  }
}
